* {
	box-sizing: border-box;
}
body {
	font-size: 14px;
}
.hybro-c1 {
	width: 965px;
	height: 604px;
	background: url('../assets/hybro-c1.png');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	opacity: 1;
	position: absolute;
	top: 150px;
	left: 800px;
	overflow: hidden;
}
.hybro-c2 {
	width: 965px;
	height: 604px;
	background: rgba(223, 241, 251, 1);
	opacity: 1;
	position: absolute;
	top: 0px;
	left: 0px;
	border: 1px solid rgba(40, 86, 118, 1);
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	overflow: hidden;
}
.hybro-c3 {
	width: 895px;
	height: 90px;
	background: rgba(255, 255, 255, 1);
	opacity: 1;
	position: absolute;
	top: 497px;
	left: 35px;
	border: 1px solid rgba(40, 86, 118, 1);
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	overflow: hidden;
}
.hybro-c4 {
	width: 893px;
	height: 44px;
	background: rgba(232, 245, 252, 1);
	opacity: 1;
	position: absolute;
	top: 542px;
	left: 36px;
}
.hybro-c5 {
	width: 176px;
	color: rgba(39, 85, 117, 0.6000000238418579);
	position: absolute;
	top: 512px;
	left: 56px;
	font-family: Archivo;
	font-weight: Regular;
	font-size: 16px;
	opacity: 1;
	text-align: left;
}
.hybro-c6 {
	width: 51px;
	height: 32px;
	background: url('../assets/hybro-c6.png');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	opacity: 1;
	position: absolute;
	top: 548px;
	left: 869px;
	overflow: hidden;
}
.hybro-c7 {
	width: 51px;
	height: 32px;
	background: rgba(32, 68, 94, 1);
	opacity: 1;
	position: absolute;
	top: 0px;
	left: 0px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	overflow: hidden;
}
.hybro-c8 {
	width: 19px;
	height: 16px;
	background: rgba(227, 238, 252, 1);
	opacity: 1;
	position: absolute;
	top: 8px;
	left: 17px;
}
.hybro-c9 {
	width: 436px;
	height: 56px;
	background: url('../assets/hybro-c9.png');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	opacity: 1;
	position: absolute;
	top: 203px;
	left: 35px;
	overflow: hidden;
}
.hybro-c10 {
	width: 421px;
	height: 56px;
	background: rgba(198, 214, 246, 1);
	opacity: 1;
	position: absolute;
	top: 0px;
	left: 0px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	overflow: hidden;
}
.hybro-c11 {
	width: 411px;
	color: rgba(32, 68, 94, 1);
	position: absolute;
	top: 19px;
	left: 25px;
	font-family: Archivo;
	font-weight: Regular;
	font-size: 17px;
	opacity: 1;
	text-align: left;
}
.hybro-c12 {
	width: 359px;
	height: 56px;
	background: url('../assets/hybro-c12.png');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	opacity: 1;
	position: absolute;
	top: 339px;
	left: 35px;
	overflow: hidden;
}
.hybro-c13 {
	width: 359px;
	height: 56px;
	background: rgba(198, 214, 246, 1);
	opacity: 1;
	position: absolute;
	top: 0px;
	left: 0px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	overflow: hidden;
}
.hybro-c14 {
	width: 313px;
	color: rgba(32, 68, 94, 1);
	position: absolute;
	top: 19px;
	left: 25px;
	font-family: Archivo;
	font-weight: Regular;
	font-size: 17px;
	opacity: 1;
	text-align: left;
}
.hybro-c15 {
	width: 436px;
	height: 56px;
	background: url('../assets/hybro-c15.png');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	opacity: 1;
	position: absolute;
	top: 407px;
	left: 35px;
	overflow: hidden;
}
.hybro-c16 {
	width: 414px;
	height: 56px;
	background: rgba(198, 214, 246, 1);
	opacity: 1;
	position: absolute;
	top: 0px;
	left: 0px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	overflow: hidden;
}
.hybro-c17 {
	width: 411px;
	color: rgba(32, 68, 94, 1);
	position: absolute;
	top: 19px;
	left: 25px;
	font-family: Archivo;
	font-weight: Regular;
	font-size: 17px;
	opacity: 1;
	text-align: left;
}
.hybro-c18 {
	width: 512px;
	height: 56px;
	background: url('../assets/hybro-c18.png');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	opacity: 1;
	position: absolute;
	top: 271px;
	left: 417px;
	overflow: hidden;
}
.hybro-c19 {
	width: 512px;
	height: 56px;
	background: rgba(32, 68, 94, 1);
	opacity: 1;
	position: absolute;
	top: 0px;
	left: 0px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	overflow: hidden;
}
.hybro-c20 {
	width: 452px;
	color: rgba(237, 247, 255, 1);
	position: absolute;
	top: 19px;
	left: 25px;
	font-family: Archivo;
	font-weight: Regular;
	font-size: 17px;
	opacity: 1;
	text-align: left;
}
.hybro-c21 {
	width: 19px;
	height: 19px;
	background: rgba(32, 68, 94, 1);
	opacity: 1;
	position: absolute;
	top: 554px;
	left: 57px;
}
.hybro-c22 {
	width: 17px;
	color: rgba(32, 68, 94, 1);
	position: absolute;
	top: 552px;
	left: 105px;
	font-family: Archivo;
	font-weight: Medium;
	font-size: 23px;
	opacity: 1;
	text-align: left;
}
.hybro-c23 {
	width: 17px;
	color: rgba(32, 68, 94, 1);
	position: absolute;
	top: 552px;
	left: 151px;
	font-family: Archivo;
	font-weight: SemiBold Italic;
	font-size: 23px;
	opacity: 1;
	text-align: left;
}
.hybro-c24 {
	width: 77px;
	height: 90px;
	background: url('../assets/hybro-c24.png');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	opacity: 1;
	position: absolute;
	top: 103px;
	left: 23px;
	overflow: hidden;
}
.hybro-c25 {
	width: 895px;
	height: 55px;
	background: url('../assets/hybro-c25.png');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	opacity: 1;
	position: absolute;
	top: 11px;
	left: 34px;
	overflow: hidden;
}
.hybro-c26 {
	width: 895px;
	height: 54px;
	background: rgba(255, 255, 255, 1);
	opacity: 1;
	position: absolute;
	top: 0px;
	left: 0px;
	border: 1px solid rgba(40, 86, 118, 1);
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	overflow: hidden;
}
.hybro-c27 {
	width: 70px;
	color: rgba(32, 68, 94, 1);
	position: absolute;
	top: 9px;
	left: 413px;
	font-family: Archivo;
	font-weight: SemiBold;
	font-size: 17px;
	opacity: 1;
	text-align: left;
}
.hybro-c28 {
	width: 177px;
	color: rgba(32, 68, 94, 1);
	position: absolute;
	top: 28px;
	left: 360px;
	font-family: Archivo;
	font-weight: Regular;
	font-size: 17px;
	opacity: 1;
	text-align: left;
}
.hybro-c29 {
	width: 30px;
	height: 30px;
	background: url('../assets/hybro-c29.png');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	opacity: 1;
	position: absolute;
	top: 12px;
	left: 855px;
	overflow: hidden;
}
.hybro-c30 {
	width: 30px;
	height: 30px;
	background: url('../assets/hybro-c30.png');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	opacity: 1;
	position: absolute;
	top: 0px;
	left: 0px;
	overflow: hidden;
}
.hybro-c31 {
	width: 30px;
	height: 30px;
	background: rgba(32, 68, 94, 1);
	position: absolute;
	top: 30px;
	left: 30px;
}
.hybro-c32 {
	width: 15px;
	height: 15px;
	background: rgba(32, 68, 94, 1);
	opacity: 1;
	position: absolute;
	top: 7px;
	left: 7px;
}
.hybro-c33 {
	width: 48px;
	height: 55px;
	background: url('../assets/hybro-c33.png');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	opacity: 1;
	position: absolute;
	top: 0px;
	left: 10px;
	overflow: hidden;
}
.hybro-c34 {
	width: 45px;
	color: rgba(32, 68, 94, 1);
	position: absolute;
	top: 88px;
	left: 459px;
	font-family: Archivo;
	font-weight: Regular;
	font-size: 17px;
	opacity: 1;
	text-align: left;
}
