* {
	box-sizing: border-box;
}
body {
	font-size: 14px;
}
.v13_19 {
	width: 100%;
	height: 822px;
	opacity: 1;
	position: absolute;
	top: 0px;
	left: 0px;
	overflow: hidden;
}
.v13_20 {
	width: 976px;
	height: 40px;
	background: url('../images/v13_20.png');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	opacity: 1;
	position: absolute;
	top: 33px;
	left: 224px;
	overflow: hidden;
}
.v13_21 {
	width: 120px;
	height: 21px;
	background: url('../images/v13_21.png');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	opacity: 1;
	position: absolute;
	top: 10px;
	left: 473px;
	overflow: hidden;
}
.v13_22 {
	width: 120px;
	height: 2px;
	background: rgba(39, 85, 117, 1);
	opacity: 1;
	position: absolute;
	top: 19px;
	left: 0px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	overflow: hidden;
}
.v13_23 {
	width: 112px;
	color: rgba(39, 85, 117, 1);
	position: absolute;
	top: 1px;
	left: 5px;
	font-family: Archivo;
	font-weight: SemiBold;
	font-size: 16px;
	opacity: 1;
	text-align: left;
}
.v13_25 {
	width: 96px;
	color: rgba(22, 48, 66, 1);
	position: absolute;
	top: 13px;
	left: 203px;
	font-family: Archivo;
	font-weight: Medium;
	font-size: 16px;
	opacity: 1;
	text-align: left;
}
.v13_26 {
	width: 42px;
	color: rgba(22, 48, 66, 1);
	position: absolute;
	top: 13px;
	left: 654px;
	font-family: Archivo;
	font-weight: Medium;
	font-size: 16px;
	opacity: 1;
	text-align: left;
}
.v13_27 {
	width: 86px;
	color: rgba(22, 48, 66, 1);
	position: absolute;
	top: 14px;
	left: 758px;
	font-family: Archivo;
	font-weight: Medium;
	font-size: 16px;
	opacity: 1;
	text-align: left;
}
.v13_28 {
	width: 70px;
	color: linear-gradient(rgba(32, 68, 94, 1), rgba(39, 85, 117, 1));
	position: absolute;
	top: 14px;
	left: 905px;
	font-family: Archivo;
	font-weight: SemiBold;
	font-size: 16px;
	opacity: 1;
	text-align: left;
}
.v13_29 {
	width: 118px;
	height: 40px;
	background: url('../images/v13_29.png');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	opacity: 1;
	position: absolute;
	top: 0px;
	left: 0px;
	overflow: hidden;
}
.v13_30 {
	width: 118px;
	height: 40px;
	background: url('../images/v13_30.png');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	opacity: 1;
	position: absolute;
	top: 0px;
	left: 0px;
	overflow: hidden;
}
.v13_31 {
	width: 27px;
	height: 40px;
	background: url('../images/v13_31.png');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	opacity: 1;
	position: absolute;
	top: 0px;
	left: 0px;
	overflow: hidden;
}
.v13_32 {
	width: 27px;
	height: 40px;
	background: url('../images/v13_32.png');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	opacity: 1;
	position: absolute;
	top: 0px;
	left: 0px;
	overflow: hidden;
}
.v13_33 {
	width: 27px;
	height: 40px;
	background: url('../images/v13_33.png');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	opacity: 1;
	position: absolute;
	top: 0px;
	left: 0px;
	overflow: hidden;
}
.v13_34 {
	width: 27px;
	height: 40px;
	background: rgba(177, 225, 255, 1);
	opacity: 1;
	position: absolute;
	top: 0px;
	left: 0px;
}
.v13_35 {
	width: 27px;
	height: 15px;
	background: linear-gradient(rgba(62, 113, 222, 1), rgba(80, 175, 244, 1));
	opacity: 1;
	position: absolute;
	top: 24px;
	left: 1px;
}
.v13_36 {
	width: 27px;
	height: 15px;
	background: rgba(39, 85, 117, 1);
	opacity: 1;
	position: absolute;
	top: 25px;
	left: 1px;
}
.v13_37 {
	width: 81px;
	color: linear-gradient(rgba(32, 68, 94, 1), rgba(39, 85, 117, 1));
	position: absolute;
	top: 11px;
	left: 37px;
	font-family: Archivo;
	font-weight: Regular;
	font-size: 22px;
	opacity: 1;
	text-align: left;
}
.v24_269 {
	width: 100%;
	height: 251px;
	background: url('../images/v24_269.png');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	opacity: 0.30000001192092896;
	position: absolute;
	top: 571px;
	left: 0px;
	overflow: hidden;
}
.v13_39 {
	width: 229px;
	color: rgba(39, 85, 117, 1);
	position: absolute;
	top: 146px;
	left: 247px;
	font-family: Archivo;
	font-weight: SemiBold;
	font-size: 20px;
	opacity: 1;
	text-align: left;
}
.v13_40 {
	width: 229px;
	color: rgba(39, 85, 117, 1);
	position: absolute;
	top: 300px;
	left: 246px;
	font-family: Archivo;
	font-weight: SemiBold;
	font-size: 20px;
	opacity: 1;
	text-align: left;
}
.v13_41 {
	width: 940px;
	height: 78px;
	background: url('../images/v13_41.png');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	opacity: 1;
	position: absolute;
	top: 180px;
	left: 246px;
	overflow: hidden;
}
.v13_42 {
	width: 940px;
	height: 78px;
	background: url('../images/v13_42.png');
	opacity: 1;
	position: absolute;
	top: 0px;
	left: 0px;
	border: 1px solid rgba(39, 85, 117, 1);
}
.v13_43 {
	width: 708px;
	height: 76px;
	background: linear-gradient(rgba(39, 85, 117, 1), rgba(177, 225, 255, 1));
	opacity: 1;
	position: absolute;
	top: 1px;
	left: 0px;
}
.v13_44 {
	width: 460px;
	color: rgba(255, 255, 255, 1);
	position: absolute;
	top: 27px;
	left: 41px;
	font-family: Archivo;
	font-weight: Bold;
	font-size: 22px;
	opacity: 1;
	text-align: left;
}
.v13_45 {
	width: 52px;
	color: rgba(177, 225, 255, 1);
	position: absolute;
	top: 387px;
	left: 1042px;
	font-family: Archivo;
	font-weight: Regular;
	font-size: 80px;
	opacity: 1;
	text-align: left;
}
.v13_46 {
	width: 52px;
	color: rgba(177, 225, 255, 1);
	position: absolute;
	top: 387px;
	left: 1081px;
	font-family: Archivo;
	font-weight: Regular;
	font-size: 80px;
	opacity: 1;
	text-align: left;
}
.v13_47 {
	width: 217px;
	height: 215px;
	background: url('../images/v13_47.png');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	opacity: 1;
	position: absolute;
	top: 335px;
	left: 501px;
	overflow: hidden;
}
.v13_48 {
	width: 217px;
	height: 215px;
	background: rgba(237, 247, 255, 1);
	opacity: 1;
	position: absolute;
	top: 0px;
	left: 0px;
	border: 1px solid rgba(39, 85, 117, 1);
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	overflow: hidden;
}
.v13_49 {
	width: 98px;
	height: 98px;
	background: url('../images/v13_49.png');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	opacity: 1;
	position: absolute;
	top: 15px;
	left: 61px;
	overflow: hidden;
}
.v13_50 {
	width: 134px;
	color: rgba(39, 85, 117, 1);
	position: absolute;
	top: 113px;
	left: 43px;
	font-family: Archivo;
	font-weight: Medium;
	font-size: 16px;
	opacity: 1;
	text-align: left;
}
.v13_51 {
	width: 50px;
	height: 50px;
	background: url('../images/v13_51.png');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	opacity: 1;
	position: absolute;
	top: 146px;
	left: 140px;
	overflow: hidden;
}
.v13_52 {
	width: 50px;
	height: 50px;
	background: rgba(255, 255, 255, 1);
	opacity: 1;
	position: absolute;
	top: 0px;
	left: 0px;
	border: 1px solid rgba(39, 85, 117, 1);
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	overflow: hidden;
}
.v13_53 {
	width: 25px;
	color: rgba(39, 85, 117, 1);
	position: absolute;
	top: 0px;
	left: 12px;
	font-family: Archivo;
	font-weight: Medium;
	font-size: 40px;
	opacity: 1;
	text-align: left;
}
.v13_54 {
	width: 217px;
	height: 215px;
	background: url('../images/v13_54.png');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	opacity: 1;
	position: absolute;
	top: 335px;
	left: 759px;
	overflow: hidden;
}
.v13_55 {
	width: 217px;
	height: 215px;
	background: rgba(237, 247, 255, 1);
	opacity: 1;
	position: absolute;
	top: 0px;
	left: 0px;
	border: 1px solid rgba(39, 85, 117, 1);
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	overflow: hidden;
}
.v13_56 {
	width: 68px;
	color: rgba(39, 85, 117, 1);
	position: absolute;
	top: 113px;
	left: 77px;
	font-family: Archivo;
	font-weight: Medium;
	font-size: 16px;
	opacity: 1;
	text-align: left;
}
.v13_57 {
	width: 50px;
	height: 50px;
	background: url('../images/v13_57.png');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	opacity: 1;
	position: absolute;
	top: 146px;
	left: 140px;
	overflow: hidden;
}
.v13_58 {
	width: 50px;
	height: 50px;
	background: rgba(255, 255, 255, 1);
	opacity: 1;
	position: absolute;
	top: 0px;
	left: 0px;
	border: 1px solid rgba(39, 85, 117, 1);
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	overflow: hidden;
}
.v13_59 {
	width: 25px;
	color: rgba(39, 85, 117, 1);
	position: absolute;
	top: 0px;
	left: 12px;
	font-family: Archivo;
	font-weight: Medium;
	font-size: 40px;
	opacity: 1;
	text-align: left;
}
.v13_60 {
	width: 76px;
	height: 76px;
	background: url('../images/v13_60.png');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	opacity: 1;
	position: absolute;
	top: 362px;
	left: 823px;
	overflow: hidden;
}
.v13_61 {
	width: 63px;
	height: 65px;
	background: url('../images/v13_61.png');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	opacity: 1;
	position: absolute;
	top: 259px;
	left: 1001px;
	transform: rotate(-149deg);
	overflow: hidden;
}
.v13_62 {
	width: 13px;
	height: 13px;
	background: url('../images/v13_62.png');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	opacity: 1;
	position: absolute;
	top: 235px;
	left: 938px;
	overflow: hidden;
}
.v13_63 {
	width: 13px;
	height: 13px;
	background: rgba(178, 226, 255, 1);
	opacity: 1;
	position: absolute;
	top: 0px;
	left: 0px;
	border-radius: 50%;
}
.v13_64 {
	width: 9px;
	height: 9px;
	background: rgba(159, 219, 243, 1);
	opacity: 1;
	position: absolute;
	top: 1px;
	left: 3px;
	border-radius: 50%;
}
.v13_65 {
	width: 13px;
	height: 13px;
	background: url('../images/v13_65.png');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	opacity: 1;
	position: absolute;
	top: 184px;
	left: 943px;
	overflow: hidden;
}
.v13_66 {
	width: 13px;
	height: 13px;
	background: rgba(178, 226, 255, 1);
	opacity: 1;
	position: absolute;
	top: 0px;
	left: 0px;
	border-radius: 50%;
}
.v13_67 {
	width: 9px;
	height: 9px;
	background: rgba(159, 219, 243, 1);
	opacity: 1;
	position: absolute;
	top: 3px;
	left: 1px;
	border-radius: 50%;
}
.v13_68 {
	width: 217px;
	height: 215px;
	background: url('../images/v13_68.png');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	opacity: 1;
	position: absolute;
	top: 335px;
	left: 246px;
	overflow: hidden;
}
.v13_69 {
	width: 217px;
	height: 215px;
	background: rgba(237, 247, 255, 1);
	opacity: 1;
	position: absolute;
	top: 0px;
	left: 0px;
	border: 1px solid rgba(39, 85, 117, 1);
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	overflow: hidden;
}
.v13_70 {
	width: 78px;
	height: 78px;
	background: url('../images/v13_70.png');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	opacity: 1;
	position: absolute;
	top: 25px;
	left: 73px;
	overflow: hidden;
}
.v13_71 {
	width: 134px;
	color: rgba(39, 85, 117, 1);
	position: absolute;
	top: 113px;
	left: 41px;
	font-family: Archivo;
	font-weight: Medium;
	font-size: 16px;
	opacity: 1;
	text-align: left;
}
.v13_72 {
	width: 50px;
	height: 50px;
	background: url('../images/v13_72.png');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	opacity: 1;
	position: absolute;
	top: 149px;
	left: 151px;
	overflow: hidden;
}
.v13_73 {
	width: 50px;
	height: 50px;
	background: rgba(255, 255, 255, 1);
	opacity: 1;
	position: absolute;
	top: 0px;
	left: 0px;
	border: 1px solid rgba(39, 85, 117, 1);
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	overflow: hidden;
}
.v13_74 {
	width: 25px;
	color: rgba(39, 85, 117, 1);
	position: absolute;
	top: 0px;
	left: 12px;
	font-family: Archivo;
	font-weight: Medium;
	font-size: 40px;
	opacity: 1;
	text-align: left;
}
.v13_75 {
	width: 105px;
	height: 50px;
	background: url('../images/v13_75.png');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	opacity: 1;
	position: absolute;
	top: 149px;
	left: 35px;
	overflow: hidden;
}

.v13_76 {
	width: 102px;
	text-align: center;
	color: rgba(39, 85, 117, 1);
	position: absolute;
	top: 7px;
	left: 0px;
	font-family: Archivo;
	font-weight: Medium;
	font-size: 30px;
	opacity: 1;
}
.v13_77 {
	width: 105px;
	height: 50px;
	background: url('../images/v13_77.png');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	opacity: 1;
	position: absolute;
	top: 0px;
	left: 0px;
	border: 1px solid rgba(39, 85, 117, 1);
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	overflow: hidden;
}
.v13_78 {
	width: 105px;
	height: 50px;
	background: url('../images/v13_78.png');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	opacity: 1;
	position: absolute;
	top: 481px;
	left: 529px;
	overflow: hidden;
}
.v13_79 {
	width: 66px;
	color: rgba(39, 85, 117, 1);
	position: absolute;
	top: 6px;
	left: 20px;
	font-family: Archivo;
	font-weight: Medium;
	font-size: 30px;
	opacity: 1;
	text-align: left;
}
.v13_80 {
	width: 105px;
	height: 50px;
	background: url('../images/v13_80.png');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	opacity: 1;
	position: absolute;
	top: 0px;
	left: 0px;
	border: 1px solid rgba(39, 85, 117, 1);
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	overflow: hidden;
}
.v13_81 {
	width: 105px;
	height: 50px;
	background: url('../images/v13_81.png');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	opacity: 1;
	position: absolute;
	top: 481px;
	left: 787px;
	overflow: hidden;
}
.v13_82 {
	width: 65px;
	color: rgba(39, 85, 117, 1);
	position: absolute;
	top: 8px;
	left: 20px;
	font-family: Archivo;
	font-weight: Medium;
	font-size: 30px;
	opacity: 1;
	text-align: left;
}
.v13_83 {
	width: 105px;
	height: 50px;
	background: url('../images/v13_83.png');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	opacity: 1;
	position: absolute;
	top: 0px;
	left: 0px;
	border: 1px solid rgba(39, 85, 117, 1);
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	overflow: hidden;
}
.v14_243 {
	width: 80px;
	height: 80px;
	background: url('../images/v14_243.png');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	opacity: 1;
	position: absolute;
	top: 718px;
	left: 1407px;
	overflow: hidden;
}
.v14_242 {
	width: 80px;
	height: 80px;
	background: rgba(237, 247, 255, 1);
	opacity: 1;
	position: absolute;
	top: 0px;
	left: 0px;
	border: 1px solid rgba(40, 86, 118, 1);
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	overflow: hidden;
}
.v14_241 {
	width: 70px;
	height: 80px;
	background: url('../images/v14_241.png');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	opacity: 1;
	position: absolute;
	top: 0px;
	left: 5px;
	overflow: hidden;
}
.v24_309 {
	width: 51px;
	color: rgba(22, 48, 66, 1);
	position: absolute;
	top: 47px;
	left: 583px;
	font-family: Archivo;
	font-weight: Medium;
	font-size: 16px;
	opacity: 1;
	text-align: left;
}
.v24_310 {
	width: 11px;
	color: rgba(22, 48, 66, 1);
	position: absolute;
	top: 51px;
	left: 647px;
	font-family: Archivo;
	font-weight: SemiBold;
	font-size: 16px;
	opacity: 1;
	text-align: left;
}
.v24_311 {
	width: 11px;
	color: rgba(22, 48, 66, 1);
	position: absolute;
	top: 50px;
	left: 540px;
	font-family: Archivo;
	font-weight: SemiBold;
	font-size: 16px;
	opacity: 1;
	text-align: left;
}
